*{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.header{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}