*{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.header{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.resultCount{
    margin:5px 20px;
}
.every_result{
    margin: 20px 20px;
}
.sitename{
    text-decoration: none;
    color: red;
}
.itemname{
    /* color:darkgreen; */
    text-decoration: none;
}
.descrip{
    color:magenta;
}